@tailwind base;
@tailwind components;
@tailwind utilities;

div {
  box-sizing: border-box;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    width: 0.5rem;
    scroll-behavior: smooth;
  }

  /* Track */
  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(178, 175, 175, 0.5);
    border-radius: 0.5rem;
    margin: 1px;
  }



  /* Handle on hover */
  .no-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(178, 175, 175, 0.7);
  }

}